
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
           <div class="col">
             <div class="card radius-10 border-start border-0 border-3 border-info" style="background-color: #F7F6FB;">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Students</p>
                            <h4 class="my-1 text-info">4805</h4>
                            <p class="mb-0 font-13">+2.5% from last week</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
             </div>
           </div>
           <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-danger" style="background-color: #F7F6FB;">
               <div class="card-body">
                   <div class="d-flex align-items-center">
                       <div>
                           <p class="mb-0 text-secondary">Class Start Students</p>
                           <h4 class="my-1 text-danger">$84,245</h4>
                           <p class="mb-0 font-13">+5.4% from last week</p>
                       </div>
                       <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
                       </div>
                   </div>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-success" style="background-color: #F7F6FB;">
               <div class="card-body">
                   <div class="d-flex align-items-center">
                       <div>
                           <p class="mb-0 text-secondary">Waiting Students</p>
                           <h4 class="my-1 text-success">34.6%</h4>
                           <p class="mb-0 font-13">-4.5% from last week</p>
                       </div>
                       <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
                       </div>
                   </div>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-warning" style="background-color: #F7F6FB;">
               <div class="card-body">
                   <div class="d-flex align-items-center">
                       <div>
                           <p class="mb-0 text-secondary">Leave a Students</p>
                           <h4 class="my-1 text-warning">8.4K</h4>
                           <p class="mb-0 font-13">+8.4% from last week</p>
                       </div>
                       <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="fa fa-users"></i>
                       </div>
                   </div>
               </div>
            </div>
          </div> 
        </div>
    </div>

<div class="row g-3 h-100 mt-1">
    <div class="col-6  mt-3 d-flex flex-column">
        <div class="card h-100">
            <div class="card-body bg-dark p-4" style="border-radius: 5px;">
                <h3 class="card-title text-white">Payment Types</h3>
                <p class="card-text text-white">Manage the payment of students.</p>
                {% for paymenttype in paymenttypes %}
                {{Name}}
                    <a href="{{paymenttype.ID}}" >{{paymenttype.Name}}</a><br>
                {% endfor %}
                <form action="{% url 'addpaymenttypes' %}" class="mt-3 d-none" id="PaymentTypes" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control text-white bg-dark" name="PaymentTypes">
                    <input type="submit" class="btn btn text-white mt-3" style="background-color: #FF751A;" value="Save Payment Type">
                </form>
                <button id="PaymentTypesbtn" class="btn btn text-white mt-3" style="background-color: #FF751A;">New Payment Type</button> 
            </div>
        </div>
    </div>
    <div class="col-6  mt-3 d-flex flex-column">
        <div class="card h-100">
            <div class="card-body bg-dark p-4" style="border-radius: 5px;">
                <h3 class="card-title text-white">Payment Method</h3>
                <p class="card-text text-white">View and manage Payment Method available on this platform.</p>
                <a href="#" >Partial Payment</a><br>
                <form action="{% url 'addpaymentmethod' %}" id="PaymentMethodform" class="mt-3 d-none" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control text-white bg-dark" name="PaymentMethod">
                    <input type="submit" class="btn btn text-white mt-3" style="background-color: #FF751A;" value="Save Payment Type">
                </form>
                <button id="PaymentMethodbtn" class="btn btn text-white mt-3" style="background-color: #FF751A;">New Payment Method</button>
            </div>
        </div>
    </div>
</div>

<script>
    const paymentTypesForm = document.getElementById('PaymentTypes');
    const btnPaymentTypes = document.getElementById('PaymentTypesbtn');

    btnPaymentTypes.addEventListener("click", () => {
        btnPaymentTypes.classList.add('d-none');
        paymentTypesForm.classList.remove('d-none');
    });
</script>
<script>
    const paymentMethodForm = document.getElementById('PaymentMethodform');
    const btnPaymentMethod = document.getElementById('PaymentMethodbtn');

    btnPaymentMethod.addEventListener("click", () => {
        btnPaymentMethod.classList.add('d-none');
        paymentMethodForm.classList.remove('d-none');
    });
</script>


<!-- nothing -->